@use "styles/utils/index" as *;

.catalog {
  &__row {
    padding-top: 1.125rem;
  }

  &__products {
    &-not-enought {
      width: 100%;
      margin-top: 3rem;
      text-align: center;
      @include title-font;
    }

    &__item {
      display: grid;
      grid-template-areas:
        "img img"
        "name name"
        "stars btn"
        "price btn";

      row-gap: 0.5rem;
      padding: 1.75rem 0.813rem;
      margin-bottom: 1.5rem;

      border-radius: 25px;
      background: $white-40;
      @include secondary-font;

      &.rows-mode {
        grid-template: repeat(3, 1fr) / 1fr 3fr 1fr;

        justify-content: start;
        align-items: center;

        .products__item-count,
        .stars,
        .products__item-name {
          grid-area: auto;
        }

        .products__item-price {
          grid-area: auto;
          grid-column: span 2;
        }

        .products__item-buttons {
          grid-area: auto;
          align-self: stretch;
          padding-right: 2rem;
        }

        .products__item-img-wrapper {
          grid-area: auto;
          grid-row: span 3;
          padding-bottom: 0;
        }
      }
    }
  }

  &__filter {
    margin-right: 1rem;
    border-radius: 25px;
    background: $white-40;

    &-reset {
      display: grid;
      place-items: center;

      position: fixed;
      bottom: 3rem;
      right: 3rem;

      width: 3rem;
      height: 3rem;

      border: 2px solid $black;
      border-radius: 50%;
      background: $white-40;

      &.filter-enter {
        opacity: 0;
      }

      &.filter-enter-active {
        opacity: 1;
        transition: opacity 200ms;
      }

      &.filter-exit {
        opacity: 1;
      }

      &.filter-exit-active {
        opacity: 0;
        transition: opacity 200ms;
      }
    }
  }

  &__topbar {
    @include flex(center, space-between);

    padding: 0.875rem 1.875rem;
    margin-bottom: 1.2rem;
    border-radius: 25px;

    background: $white-40;
    @include secondary-font;

    &-switcher {
      @include flex();
      gap: 0.5rem;

      span {
        cursor: pointer;

        &.active {
          svg {
            rect {
              stroke-opacity: 1;
            }
          }
        }
      }
    }

    &-sort {
      display: flex;
      gap: 0.8rem;
    }
  }
}

.products {
  &__item {
    &-img-wrapper {
      @include flex();
      grid-area: img;
      padding-bottom: 1.25rem;
      max-width: 100%;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-name {
      grid-area: name;
    }

    &-price {
      grid-area: price;
      font-weight: 600;
    }

    &-buttons {
      @include flex(stretch, space-between);
      gap: 1rem;
      grid-area: btn;
      margin-top: 0.5rem;
      justify-self: flex-end;
    }

    &-count {
      align-self: center;
    }
  }
}

.stars {
  @include flex(center, flex-start);
  gap: 0.15rem;
  grid-area: stars;
  margin-top: 0.5rem;
}
