@use "styles/utils/index" as *;

.section {
  &:last-child {
    padding-bottom: 6.25rem;
  }

  &__title {
    padding-top: 3.75rem;

    @include title-font;
    text-align: center;
    white-space: pre-line;
  }

  &__text {
    padding: 1.875rem 0;

    @include primary-font;
    line-height: 120%;
  }

  &__content {
    height: 32.813rem;
    border-radius: 25px;

    background: $white-40;
    -webkit-box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.75);
  }
}
