@import "./variables";

@mixin sm-screen {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md-screen {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg-screen {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl-screen {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl-screen {
  @media (max-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin hover-screen {
  @media (hover: hover) {
    @content;
  }
}

@mixin not-hover-screen {
  @media (hover: none) {
    @content;
  }
}

@mixin flex($alignItems: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin primary-font {
  font: {
    size: 1.5rem;
    weight: 500;
  }

  @include sm-screen {
    font-size: clamp(1.3rem, 1.3rem + 0.557vw, 1.5rem);
  }
}

@mixin secondary-font {
  @include primary-font;

  font-size: 1.125rem;

  @include sm-screen {
    font-size: clamp(1rem, 1rem + 0.348vw, 1.125rem);
  }
}

@mixin title-font {
  font: {
    size: 3rem;
    weight: 600;
  }

  @include sm-screen {
    font-size: clamp(2.5rem, 2.499rem + 1.391vw, 3rem);
  }
}
