@import "styles/utils/index";

.burger {
  &__menu {
    position: fixed;
    inset: 0;
    z-index: 999999;

    width: 100vw;
    height: 100vh;

    &-content {
      width: 50%;
      height: 100%;
      overflow-y: auto;

      background: $white;

      @include sm-screen {
        width: 60%;
      }
    }

    &.burger-enter {
      left: -100%;
    }

    &.burger-enter-active {
      left: 0;
      transition: 0.3s;
    }

    &.burger-exit {
      left: 0;
    }

    &.burger-exit-active {
      left: -100%;
      transition: 0.3s;
    }
  }
}
