@import "styles/utils/index";

.modal {
  @include flex();

  position: fixed;
  inset: 0;

  background: $black-40;
  z-index: 5000;

  &__content {
    border-radius: 1rem;

    background: $white;
  }

  &.modal-enter {
    opacity: 0;
  }

  &.modal-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &.modal-exit {
    opacity: 1;
  }

  &.modal-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  &.modal-enter > &__content {
    transform: translateX(20px);
  }

  &.modal-enter-active > &__content {
    transform: translateX(0);
    transition: transform 200ms;
  }

  &.modal-exit > &__content {
    transform: translateX(0);
  }

  &.modal-exit-active > &__content {
    transform: translateX(20px);
    transition: transform 200ms;
  }
}
