@import "styles/utils/index";

.primary-button {
  $transitionTime: 0.1s;
  padding: 0.3rem 1rem;
  border: 2px solid $black;
  border-radius: 0.5rem;
  transition: $transitionTime;
  background: $black;
  color: $white;
  @include secondary-font;

  @include hover-screen {
    &:hover {
      background: none;
      color: $black;
      transition: $transitionTime;
    }
  }
}
