@import "styles/utils/index";

.basket {
  &__title {
    padding-bottom: 1.7rem;
    text-align: center;
    @include title-font;
  }

  &__row {
    padding: 1.5rem 0;
  }

  &__item {
    @include flex(center, space-between);

    margin-bottom: 1.5rem;
    padding-right: 3rem;
    height: 220px;
    border-radius: 1.563rem;
    background: $white-40;

    @include xl-screen {
      height: 180px;
      padding-right: 1rem;
    }

    @include sm-screen {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      gap: 1rem;

      padding: 2rem;
    }

    &-buttons {
      display: flex;
      gap: 1rem;
      flex-basis: 15%;
      height: 40px;
      padding-left: 2rem;

      .product-btn-count {
        padding-top: 0;
      }

      @include xl-screen {
        padding: 0;
      }

      @include lg-screen {
        padding-left: 1rem;
      }

      @include sm-screen {
        align-self: flex-end;
        width: 100%;
        padding-left: 0;
      }
    }

    &-name {
      flex-basis: 35%;
      @include secondary-font;
    }

    &-price {
      flex-basis: 20%;
      @include secondary-font;
      font: {
        size: 1.5rem;
      }
      text-align: center;

      @include sm-screen {
        display: flex;
        align-items: flex-end;
        flex-basis: 60%;
      }
    }

    &-img-wrapper {
      display: flex;
      justify-content: center;
      flex-basis: 30%;

      img {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }

      @include sm-screen {
        width: 100%;

        img {
          width: 60%;
          height: 60%;
          object-fit: contain;
        }
      }
    }
  }

  &__empty {
    @include title-font;
    font-size: 3.5rem;
    text-align: center;
    padding: 7rem 0;
  }

  &__form {
    @include flex(stretch, center);
    flex-direction: column;
    border-radius: 25px;
    background: $white;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.625rem;
    }

    &-title {
      @include primary-font;
    }

    &-price {
      @include secondary-font;
      color: $black-40;
    }

    &-wrapper {
      display: flex;
      padding: 1.125rem 1.625rem;
      @include primary-font;
      position: relative;

      @include xxl-screen {
        @include secondary-font;
      }
    }

    &-total {
      padding-left: 0.5rem;

      &.line {
        text-decoration: line-through;
      }
    }

    .discount {
      padding-left: 1rem;
      @include primary-font;

      @include xxl-screen {
        @include secondary-font;
      }
    }

    &-row {
      @include flex(center, flex-start);
      gap: 0.6875rem;
      padding: 1.125rem 1.625rem;

      @include secondary-font;

      input {
        width: 30%;
      }
    }

    &-btn {
      margin-bottom: 1.125rem;
      padding: 0.7rem 1rem !important;
      width: 60%;
      align-self: center;
    }
  }
}
