@use "styles/utils/index" as *;

.header {
  &__row {
    align-items: center;
    padding: 1.5rem 0;
  }

  &__logo {
    @include primary-font;
    font-size: 3rem;
  }

  &__btn-wrapper {
    @include flex();
    gap: 3rem;
  }

  &__login {
    @include flex(center, flex-start);
    gap: 1.25rem;

    width: 10.25rem;

    border-radius: 3rem;
    cursor: pointer;

    background: $white;
    @include secondary-font;
  }

  .flex-end {
    @include flex(center, flex-end);
  }

  &__search {
    &-modal {
      width: 900px;
      height: 600px;
    }

    &-input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $black-40;

      padding: 0.7rem 1rem;
      background: none;
    }
  }
}
