@import "styles/utils/index";

.header {
  &__row {
    align-items: center;
    padding: 1.5rem 0;
  }

  &__logo {
    @include primary-font;
    font-size: 3rem !important;
  }

  &__btn-wrapper {
    @include flex();
    gap: 3rem;

    @include xl-screen {
      gap: 1rem;
    }
  }

  &__auth {
    @include flex(center, flex-start);
    gap: 1.25rem;

    width: 10.25rem;

    border-radius: 3rem;
    cursor: pointer;

    background: $white;
    @include secondary-font;

    @include xl-screen {
      gap: 0.7rem;
    }
  }

  .flex-end {
    @include flex(center, flex-end);
  }

  &__search {
    &-modal {
      width: 40vw;
      height: 60vh;
      overflow-y: auto;
      scrollbar-width: none;
      @include xxl-screen {
        width: 55vw;
      }

      @include lg-screen {
        width: 80vw;
      }
    }

    &-not-found {
      padding-top: 4rem;
      text-align: center;
      @include primary-font;
    }

    &-input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $black-40;

      padding: 0.7rem 1rem;
      background: none;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }

    &-item {
      @include flex(center, flex-start);
      gap: 1rem;
      border: 1px solid $black-40;
      border-radius: 0.5rem;
      padding: 0.5rem;

      &-name {
        flex-basis: 55%;
      }

      &-price {
        font-weight: 500;
        font-size: 1.2rem;
        flex-basis: 15%;
      }

      &-img-wrapper {
        max-width: 100%;
        height: 180px;
        flex-basis: 30%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        @include sm-screen {
          align-self: center;
        }
      }

      @include sm-screen {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__auth {
    &-register {
      padding-top: 2rem;

      span {
        cursor: pointer;
        color: #505095;
      }
    }

    &-modal {
      width: 28vw;
      padding: 4rem;
      text-align: center;

      @include xxl-screen {
        width: 40vw;
      }

      @include xl-screen {
        width: 50vw;
      }

      @include lg-screen {
        width: 70vw;
      }

      @include sm-screen {
        width: 80vw;
        padding: 2.8rem 2rem;
      }
    }

    &-title {
      @include secondary-font;
      padding-bottom: 1.5rem;
    }

    &-form {
      @include flex();
      flex-direction: column;
      gap: 1rem;

      &-row {
        position: relative;
        width: 100%;

        label {
          @include flex();
          gap: 0.3rem;
          position: absolute;
          top: 0;
          left: 0.5rem;
          height: 100%;
          transition: 0.2s;
          pointer-events: none;

          svg {
            transform: scale(1);
            transition: 0.2s;
          }
        }

        input {
          border: 1px solid $black-40;
          width: 100%;
          border-radius: 0.5rem;
          padding: 0.8rem 0.5rem;
          background: transparent;
          @include secondary-font;

          @mixin focusInput {
            transform: translate(-1.5rem, -1.5rem);
            transition: 0.2s;
            p {
              border-radius: 0.3rem;
              padding: 0.2rem;
              background: $white;
            }
            svg {
              transform: scale(0);
              transition: 0.2s;
            }
          }

          &:not(:placeholder-shown) + label {
            @include focusInput;
          }

          &:focus + label {
            @include focusInput;
          }
        }
      }

      &-btn {
        @include secondary-font;
        border: 1px solid $black;
        padding: 0.7rem 0;
        width: 100%;
        background: $black;
        transition: 0.2s;
        color: $white;

        @include hover-screen {
          &:hover {
            background: none;
            color: $black;
            transition: 0.2s;
          }
        }
      }
    }
  }

  .nav {
    &__link {
      &.active {
        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;

          width: 100%;
          height: 2px;

          background: $black;
        }
      }
    }
  }
}
