@use "styles/utils/index" as *;

.footer {
  &__row {
    align-items: center;
    padding: 1.5rem 0;
  }

  &__logo {
    @include primary-font;
    font-size: 3rem;
  }

  &__social {
    @include flex(center, flex-end);
    gap: 3rem;
  }

  .nav {
    &__link::before {
      content: none;
    }
  }
}
