@use "styles/utils/index" as *;

.promo {
  &__row {
    position: relative;
  }

  &__img-wrapper {
    position: absolute;
    right: 30rem;
    top: 50%;
    z-index: -1;

    height: 700px;
    transform: rotate(27deg) translateY(-55%);

    img {
      height: 100%;
    }
  }

  &__title {
    padding: 13.688rem 0;
    margin-bottom: 8rem;
    @include title-font;
  }
}
