@use "styles/utils/index" as *;

.promo {
  &__row {
    position: relative;
  }

  &__img-wrapper {
    position: absolute;
    right: 30rem;
    top: -5%;
    left: 55%;
    z-index: -1;

    height: 700px;
    transform: rotate(27deg);

    @include lg-screen {
      left: 45%;
    }

    img {
      height: 100%;
    }
  }

  &__title {
    padding: 13.688rem 0;
    margin-bottom: 8rem;
    @include title-font;

    @include md-screen {
      padding: 6.688rem 0 0;
    }
  }
}
