@import "styles/utils/index";

.product-btn {
  @include flex();

  border: 2px solid $black;
  border-radius: 10px;
  transition: 0.1s;

  height: 2.5rem;
  width: 2.5rem;
  background: $black;

  @include hover-screen {
    &:hover {
      background: none;
      transition: 0.1s;
    }

    &:hover > svg {
      path {
        stroke: $black;
      }

      rect {
        fill: $black;
      }
    }
  }

  @include not-hover-screen {
    &:active {
      background: none;
      transition: 0.1s;
    }

    &:active > svg {
      path {
        stroke: $black;
      }

      rect {
        fill: $black;
      }
    }
  }

  &-count {
    padding-top: 5%;
    
    @include xxl-screen {
      padding-top: 9%;
    }
    align-self: center;
    @include secondary-font;
  }
}
